.submitAndCombin{
    display: flex;
    justify-content: space-around;
}

.submitAndCombin-flexchexbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* 
    Pour radioCombiner:
    Par défaut la contenue est desactivé 
*/
#containter_combin{
    display: none;
    clear: both;
}