.calPompChaleurRadio1{
   text-align: center;
}

.calPompChaleurRadio1Semi{
   padding-left: 2.2em;
}

.containerPartie2{
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    margin: auto;
}
.partie1, .partie2{
    width: 100%;
    text-align: center;
}

.part2Altitud{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLongeur{
    padding-right: -40px;
}

#longueur, #largeur, #hauteur {
    width: 40px;
}

#longueur{
    margin-left: 0.9em;
}

